link(
    rel='stylesheet'
    href='css/menu.css'
)
include nav
script(
    src='js/nav.js'
)
ul(class="menu-main")
    li
        a(href="/main" ) Главная
    li
        a(href="/products" ) Наша продукция
    li
        a(href="" ) О нас
    li
        a(href="/cart" ) Корзина

        //img(src='/img/buy.png' class="img-cart")