include site-header
div(
    class="site-nav button-primary"
)
    div(
        class="close-button-div"
    )
        button(class="button-primary-outlined1 close-nav") <i class="fas fa-times"></i>
    div(id="cart-nav")
    div(class="text-right")
        a(
            href="/finish-order"
            target="+blank"
        )
            button(class="button-primary-outlined") Перейти к заказу