link(
    rel='stylesheet'
href='css/success.css'
)
include menu
img(src='/img/check.png' class='check')
p.success-text Заказ успешно оформлен. Чек отправлен на электронную почту
a.link-main(href='/main') Перейти на главную страницу